.status{
    font-family: 'Press Start 2P', cursive;
}

.panels{
    display:flex;
    flex-direction: column;
    gap: 20px;
}

.row{
    display: flex;
    gap: 20px
}

.btn{
    width: 200px;
    height: 200px;
    border-radius: 25px;
    border: 4px solid black;
}

.green{
    background-color: green;
}

.red{
    background-color: red;
}

.yellow{
    background-color: yellow;
}

.blue{
    background-color: blue;
}